.adventages {
  $adventages: &;

  &_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

    @include respond-to(md) {
      flex-direction: column;
    }

    @include respond-to(sm) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
  }

  &_item {
    display: grid;
    grid-template-columns: 40px 1fr;
    gap: 8px;
    align-items: center;
    flex: none;
    padding: 12px 20px;
    // border-radius: 100px;
    border: 1px solid $second;

    @include respond-to(lg) {
      grid-template-columns: 28px 1fr;
      padding: 8px 16px;
    }

    @include respond-to(md) {
      flex: auto;
      width: fit-content;
    }

    @include respond-to(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: none;
      width: 100%;
    }

    &-text {
      font-size: 18px;
      line-height: 1;
      color: $prime;
      font-weight: 600;
      text-transform: uppercase;

      @include respond-to(lg) {
        font-size: 16px;
      }

      @include respond-to(md) {
        font-size: 14px;
        text-transform: none;
      }
    }

    &-icon {
      width: 100%;

      @include respond-to(sm) {
        display: flex;
        justify-content: center;
      }

      img {
        width: 100%;
        max-width: 60px;
      }
    }

    &-text {
      @include respond-to(sm) {
        text-align: center;
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }

  &--design {
    p {
      font-size: 18px;
      font-family: $font-secondary;
      font-weight: 600;

      @include respond-to(md) {
        font-size: 14px;
        text-transform: none;
      }
    }

    #{$adventages}_content {
      display: flex;
      flex-direction: column;
      gap: 48px;

      @include respond-to(lg) {
        gap: 32px;
      }

      @include respond-to(md) {
        gap: 24px;
      }
    }

    #{$adventages}_header {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include respond-to(md) {
        gap: 16px;
      }
    }

    #{$adventages}_title {
      color: $prime;
      text-align: left;

      @include respond-to(md) {
        font-size: 24px;
      }

      @include respond-to(sm) {
        text-align: center;
      }
    }

    #{$adventages}_intro {
      font-size: 18px;
      line-height: 1.5;
      color: $prime;
      font-weight: 400;
      font-family: $font-secondary;

      @include respond-to(md) {
        font-size: 16px;
      }
    }

    #{$adventages}_items {
      justify-content: flex-start;

      @include respond-to(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
      }

      #{$adventages}_item {
        @include respond-to(sm) {
          display: flex;
          flex-direction: column;
          align-items: center;
          border: none;
        }

        &-icon {
          @include respond-to(sm) {
            display: flex;
            justify-content: center;
          }
        }

        &-text {
          @include respond-to(sm) {
            text-align: center;
            font-weight: 500;
            line-height: 1.4;
          }
        }
      }
    }

    #{$adventages}_description {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .list {
        gap: 12px;
      }

      .list_item {
        font-size: 18px;
        line-height: 1.3;

        @include respond-to(sm) {
          font-size: 16px;
        }

        &::before {
          top: 8px;
        }
      }
    }

    #{$adventages}_text {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        color: $prime;
        font-weight: 600;
        text-transform: none;
        font-family: $font-secondary;
        font-size: 18px;

        @include respond-to(md) {
          font-size: 20px;
        }

        @include respond-to(sm) {
          font-size: 16px;
          line-height: 1.2;
        }
      }
    }

    #{$adventages}_text {
      p#{$adventages}_text-normal {
        font-weight: 400;
      }
    }

    #{$adventages}_footer {
      p {
        font-size: 18px;
        line-height: 1.5;
        color: $prime;
        font-weight: 600;
        font-family: $font-secondary;

        @include respond-to(md) {
          font-size: 16px;
        }
      }
    }
  }
}
