.section--benefits {
  padding: 120px 0;
  background-color: $second;
  color: $second;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include respond-to(lg) {
    padding: 80px 0;
    gap: 24px;
  }

  @include respond-to(md) {
    padding: 60px 0;
  }
}

.benefits {
  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 100%;

    @include respond-to(lg) {
      max-width: unset;
    }
  }

  &_item {
    transition: all 0.3s ease;
    position: relative;
    background: $prime;
    display: flex;
    flex-direction: column;

    @include respond-to(md) {
    }

    &:hover {
    }

    &_img {
      width: 100%;
      aspect-ratio: 1.6 / 1;
      overflow: hidden;
      margin-top: auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 16px;
      padding: 40px;

      @include respond-to(md) {
        padding: 16px;
      }
    }

    &_actions {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &_title {
      font-size: 24px;
      font-weight: 600;
      color: $dark-gold;
      text-transform: uppercase;
      line-height: 1.2;

      @include respond-to(md) {
        font-size: 18px;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 12px;

      p {
        font-size: 16px;
        color: rgba($second, 0.9);
        line-height: 1.6;

        @include respond-to(md) {
          font-size: 14px;
        }
      }
    }
  }
}
