.blog {
  &_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @include respond-to(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include respond-to(md) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
}
