.bottom {
  &-nav {
    display: none;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    padding: 16px;
    border-top: 1px solid rgba($light-gold, 0.5);
    background: $second;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 111;
    width: 100%;
    will-change: transform;
    transition: transform 0.3s ease;

    @include respond-to(lg) {
      display: grid;
    }

    &.hidden-by-scroll {
      transform: translateY(100%);
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;

      &-icon {
        width: 24px;
        height: 24px;

        img {
          width: 100%;
        }
      }
      &-label {
        font-size: 14px;
        font-weight: 500;
        color: $prime;
        text-align: center;
      }
    }
  }
}
