.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 4px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  position: relative;
  $burger: &;

  @include respond-to(lg) {
    display: flex;
  }

  &_item {
    display: inline-block;
    width: 100%;
    height: 2px;
    // border-radius: 6px;
    background: $prime;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform-origin: center;
  }

  &.active {
    #{$burger}_item {
      // background: $CULT-FLAME;

      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0);
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
      }
    }
  }
}
