.cb {
  display: flex;
  align-items: center;
  gap: 6px;
  $cb: &;

  &_icon {
  }

  &_text {
    color: $second;
    font-size: 14px;
    border-bottom: 1px dotted $second;
    display: inline-block;
    font-family: $font-secondary;
    transition: all 0.2s linear;
  }

  &:hover {
    #{$cb}_text {
      color: $second;
    }
  }
}
