.content {
  &_text {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 2;
      color: $prime;

      @include respond-to(md) {
        font-size: 14px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;

      @include respond-to(md) {
        gap: 16px;
      }

      li {
        font-size: 18px;
        font-weight: 500;
        color: $prime;
        line-height: 1.3;
        padding-left: 20px;
        position: relative;

        @include respond-to(md) {
          font-size: 14px;
          padding-left: 16px;
        }

        &::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: $dark-gold;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: 0;

          @include respond-to(md) {
            top: 7px;
            width: 6px;
            height: 6px;
          }
        }
      }
    }
  }

  &_list {
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;

      li {
        font-size: 18px;
        font-weight: 500;
        color: $prime;
        line-height: 1.3;
        padding-left: 20px;
        position: relative;

        &::before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background: $dark-gold;
          border-radius: 50%;
          position: absolute;
          top: 9px;
          left: 0;
        }
      }
    }
  }

  &_section {
    &_container {
      display: flex;
      flex-direction: column;
      gap: 48px;

      @include respond-to(lg) {
        gap: 24px;
      }
    }

    &_text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &_list {
      &--alt {
        ul {
          li {
            &::before {
              background: #ff6f68;
            }
          }
        }
      }
    }
  }
}
