.counters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 170px;

  @include respond-to(lg) {
    gap: 32px 24px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond-to(lg) {
      gap: 24px;
    }

    &-label {
      font-size: 16px;
      color: $prime;
      line-height: 1;
      font-weight: 550;

      @include respond-to(md) {
        font-size: 14px;
      }
    }

    &-value {
      font-size: 60px;
      color: $prime;
      font-weight: 400;
      line-height: 0.7;

      @include respond-to(md) {
        font-size: 32px;
      }
    }

    &--devider {
      grid-column: 1/3;
      background: $second;
      width: 100%;
      height: 1px;
    }
  }
}
