.cta {
  display: flex;
  align-items: center;
  position: relative;
  padding: 100px 0;
  width: 100%;
  min-height: 500px;
  $cta: &;

  &_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &_overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba($second, 0.7);
    }
  }

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    max-width: 1440px;
    z-index: 5;

    @include respond-to(xl) {
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(lg) {
    }
  }

  &_title {
    text-align: center;
    @include respond-to(lg) {
      text-align: center;
      font-size: 24px;
    }
  }

  &_form {
    width: 100%;
  }

  &--contacts {
    background: transparent;
    padding: 80px 0;
    min-height: auto;

    @include respond-to(lg) {
      padding: 40px 0;
    }

    #{$cta}_bg {
      display: none;
    }
  }
}
