.error {
  &_404 {
    display: flex;
    justify-content: center;
    padding: 100px 0;

    @include respond-to(lg) {
      padding: 20px 0;
    }

    &_container {
      display: flex;
      justify-content: center;

      .frame {
        width: 100%;
        max-width: 700px;
        display: flex;
        justify-content: center;
        // --frame-content-padding: 100px;

        // @include respond-to(sm) {
        //   --frame-content-padding: 100px 70px;
        // }
      }
    }

    &_content {
      width: 100%;
      max-width: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      text-align: center;

      .title {
        color: $light-gold;
      }

      .btn {
        margin-top: 32px;
      }
    }
  }
}
