.event {
  &_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;

    @include respond-to(lg) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  &_img {
    width: 100%;
    height: 100%;
    max-height: 550px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    &_list {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;

      @include respond-to(md) {
        gap: 8px;
      }
    }

    &_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 8px;
      padding: 5px 7px;
      // border: 1px solid rgba($prime, 0.4);

      &_label {
        font-size: 16px;
        color: $prime;
        font-weight: 400;
        line-height: 1;

        @include respond-to(md) {
          font-size: 12px;
        }
      }
      &_value {
        font-size: 20px;
        color: $light-gold;
        font-weight: 600;
        line-height: 1;

        @include respond-to(md) {
          font-size: 16px;
        }
      }
    }
  }

  &_title {
    text-align: center;
  }
  &_body {
    // Переопределение переменных рамки при использовании +Frame()
    // .frame {
    //   --frame-thickness: 125px;
    //   --frame-content-padding: 60px;

    //   @include respond-to(sm) {
    //     --frame-content-padding: 40px 20px;
    //   }
    // }
  }
  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;

    p {
      @include respond-to(md) {
        font-size: 14px;
      }
    }
  }
}
