.section--events {
  width: 100%;
  padding: 80px 0;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;

  @include respond-to(lg) {
    padding: 40px 0;
    gap: 24px;
  }
}

.events {
  &_filters {
    display: flex;
    gap: 16px;
  }

  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    @include respond-to(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
    }

    @include respond-to(md) {
      grid-template-columns: repeat(1, 1fr);
      gap: 32px;
    }
  }

  &_content {
    position: relative;
    z-index: 10;
    width: 100%;

    @include respond-to(lg) {
      padding: 0;
    }
  }

  &_items {
    width: 100%;
  }

  &_nav {
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    @include respond-to(sm) {
      display: none;
    }
  }
}
