.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: $second;
  padding: 100px 0 0;
  $footer: &;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    @include respond-to(lg) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &_block {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond-to(lg) {
    }

    &--alt {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 80px 24px;

      @include respond-to(lg) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include respond-to(lg) {
      align-items: center;
    }
    &-top {
    }
    &-bottom {
      display: flex;
      align-items: center;
      gap: 12px;
      flex-wrap: wrap;
    }
    p {
      font-size: 16px;
      font-weight: 500;
      color: $prime;
      line-height: 1;
    }
    span {
      font-size: 16px;
      font-family: $font-secondary;
      font-weight: 350;
      color: $prime;
      line-height: 1;
    }
  }

  &_title {
    font-size: 32px;
    color: $light-gold;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    font-family: $font-secondary;
    letter-spacing: 2px;

    @include respond-to(lg) {
      // display: none;
    }
  }

  &_list {
    display: flex;
    gap: 32px;

    @include respond-to(xl-3) {
      gap: 18px;
    }

    @include respond-to(xl) {
      flex-direction: column;
    }

    @include respond-to(lg) {
      align-items: center;
      gap: 12px;
    }

    &_item {
      color: $prime;
      font-size: 24px;
      font-weight: 400;

      @include respond-to(xl-3) {
        font-size: 16px;
      }
    }
    &_link,
    &_text {
      color: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: 1;
      font-family: $font-main;
    }
    &_link {
      text-decoration: none;
      transition: all 0.2s linear;

      &:hover {
        color: #fff;
      }

      &--alt {
        text-decoration: none;
      }
    }
    &_text {
      line-height: 1.4;
    }
  }

  &_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &_row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    @include respond-to(lg) {
      align-items: center;
      width: 100%;
    }

    &--menu {
      grid-column: 1/3;

      @include respond-to(lg) {
        align-items: flex-start;
      }

      @include respond-to(xl) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
      }

      @include respond-to(lg) {
        // display: none;
      }

      #{$footer}_title {
        @include respond-to(xl) {
          grid-column: 1/3;
        }

        @include respond-to(lg) {
          // text-align: center;
        }
      }

      #{$footer}_list {
        @include respond-to(lg) {
          align-items: flex-start;
        }
        &_item {
          font-family: $font-secondary;
          color: $prime;
        }
      }
    }

    &--contacts {
      @include respond-to(lg) {
        align-items: flex-start;
      }

      #{$footer}_list {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include respond-to(lg) {
          align-items: flex-start;
          gap: 12px;
        }

        &_item {
          font-weight: 500;
        }

        &_link {
          display: inline-block;

          &--alt {
            border-bottom: none;
            font-size: 48px;
            flex: none;
            // color: $light-gold;

            @include respond-to(xl) {
              font-size: 24px;
            }
          }

          @include respond-to(lg) {
            font-size: 24px;
          }
        }

        &_text {
          @include respond-to(lg) {
            font-size: 16px;
          }
        }
      }
    }

    &--socials {
      @include respond-to(lg) {
        align-items: flex-start;
      }
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: auto;

    @include respond-to(lg) {
      margin-top: 12px;
      align-items: center;
    }

    a {
      width: fit-content;
      border-bottom: 1px dotted $second;
      display: inline-block;
      font-family: $font-secondary;
      font-size: 16px;
      color: $second;
      font-weight: 350;
      line-height: 1;
    }
  }

  &_copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include respond-to(lg) {
      display: none;
    }

    p {
      font-size: 16px;
      font-family: $font-main;
      color: $prime;
      font-weight: 350;
      line-height: 1;
      text-align: center;

      span {
        color: $light-gold;
      }
    }

    &--alt {
      display: none;
      padding-bottom: 24px;
      border-bottom: 1px solid $second;

      @include respond-to(lg) {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
      }

      p {
        font-size: 14px;
      }
    }
  }

  &_ornament {
    width: 100%;
    height: auto;

    img {
      width: 100%;
    }
  }
}
