.good-remont {
  &_content {
    display: grid;
    grid-template-columns: 1fr 528px;
    gap: 32px;

    @include respond-to(xl) {
      grid-template-columns: 1fr 358px;
      gap: 24px;
    }

    @include respond-to(lg) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &_icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;

    @include respond-to(xl-3) {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }

    @include respond-to(lg) {
      grid-column: 1/3;
      gap: 12px;
    }

    @include respond-to(sm) {
      grid-column: unset;
    }
  }

  &_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &_img {
      width: 112px;
      height: 112px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid $second;

      @include respond-to(lg) {
        width: 80px;
        height: 80px;
      }

      img {
        width: 75%;
      }
    }

    &_text {
      text-align: center;
      font-size: 15px;
      color: $prime;
      text-transform: uppercase;
      line-height: calc(24 / 15);
      font-weight: 600;

      @include respond-to(lg) {
        font-size: 14px;
      }

      @include respond-to(sm) {
        font-size: 12px;
      }
    }
  }

  &_title {
    color: $prime;

    @include respond-to(lg) {
      grid-column: 1/3;
    }

    @include respond-to(sm) {
      grid-column: unset;
      font-size: 18px;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }

    @include respond-to(sm) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  &_text {
    @include respond-to(lg) {
      grid-column: 2/3;
    }

    @include respond-to(sm) {
      grid-column: unset;
    }

    p {
      color: $prime;
      font-family: $font-secondary;
      font-weight: 500;

      @include respond-to(sm) {
        font-size: 16px;
        font-weight: 450;
        line-height: calc(24 / 16);
      }
    }

    &--alt {
      @include respond-to(lg) {
        grid-column: 1/3;
      }

      @include respond-to(sm) {
        grid-column: unset;
      }

      p {
        font-family: $font-main;
        font-weight: 550;
      }
    }
  }

  &-read-more {
    background: none;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: $prime;
    line-height: calc(20 / 16);
    font-family: $font-secondary;
    width: fit-content;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 4px;
    align-self: flex-start;
    padding: 0;

    @include respond-to(md) {
      font-size: 14px;
    }
  }

  &_adventages {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include respond-to(lg) {
      grid-column: 1/3;
    }

    @include respond-to(sm) {
      grid-column: unset;
      gap: 12px;
    }

    &-title {
      color: $prime;

      @include respond-to(sm) {
        font-size: 20px;
      }
    }
  }

  &_img {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    max-height: 670px;
    position: relative;

    @include respond-to(xl) {
      max-height: 450px;
    }

    @include respond-to(lg) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--alt {
      display: none;

      @include respond-to(lg) {
        display: block;
        grid-column: 1/2;
      }

      @include respond-to(md) {
        max-height: 350px;
      }

      @include respond-to(sm) {
        grid-column: unset;
        max-height: unset;
      }
    }
  }

  &_action {
    .btn {
      @include respond-to(md) {
        width: 100%;
      }
    }
  }
}
