.list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_item {
    font-size: 20px;
    line-height: 1.4;
    color: $prime;
    font-weight: 400;
    padding-left: 20px;
    font-family: $font-secondary;
    position: relative;

    @include respond-to(sm) {
      font-size: 16px;
    }

    &::before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      outline: 1.6px solid $prime;
      outline-offset: -1.6px;
      position: absolute;
      left: 0;
      top: 10px;
      transform: rotate(45deg);
    }
  }
}
