.movnya {
  &_content {
    max-width: 1100px;
    margin: 0 auto;
    &-text {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      @include respond-to(md) {
        gap: 16px;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 40px 24px;
        border-radius: 12px;
        text-align: center;

        @include respond-to(md) {
          gap: 12px;
          padding: 24px 16px;
        }

        span {
          font-size: 24px;
          line-height: 1.3;
          color: $light-gold;
          font-weight: 600;
          font-family: $font-main;

          @include respond-to(md) {
            font-size: 18px;
          }
        }

        p {
          font-size: 18px;
          line-height: 1.4;
          color: $prime;
          font-weight: 400;
          font-family: $font-main;

          @include respond-to(md) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
