.rating {
  &-content {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @include respond-to(lg) {
      gap: 40px;
    }
  }
  &-table {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 40px;

      @include respond-to(lg) {
        margin-bottom: 24px;
      }
    }
    &__head {
      display: grid;
      grid-template-columns: 1fr 232px 232px;
      gap: 24px;
      border-bottom: 1px solid $grey-dark;
      padding-bottom: 20px;

      @include respond-to(lg) {
        padding-bottom: 12px;
      }

      @include respond-to(md) {
        gap: 8px;
        grid-template-columns: 1fr 150px 150px;
      }

      @include respond-to(sm) {
        grid-template-columns: 1fr 100px 100px;
        gap: 4px;
      }

      &-col {
        @include respond-to(lg) {
          font-size: 12px;
        }
        @include respond-to(sm) {
          font-size: 8.4px;
        }
        &:not(:first-child) {
          text-align: center;
        }
      }
    }

    &__body {
    }

    &__item {
      border-bottom: 1px solid $grey-dark;
      $item: &;

      &-trigger {
        display: grid;
        grid-template-columns: 32px 1fr 232px 232px;
        align-items: center;
        gap: 24px;
        padding: 20px 0 24px;
        cursor: pointer;

        @include respond-to(lg) {
          padding: 12px 0 12px;
        }

        @include respond-to(md) {
          gap: 8px;
          grid-template-columns: 24px 1fr 150px 150px;
        }
        @include respond-to(sm) {
          grid-template-columns: 16px 1fr 100px 100px;
          gap: 4px;
        }
      }

      &-name {
        font-size: 20px;
        color: $prime;
        font-weight: 500;

        @include respond-to(md) {
          font-size: 16px;
        }

        @include respond-to(sm) {
          font-size: 14px;
        }
      }

      &-arrow {
        display: block;
        width: 24px;
        height: 24px;
        background: center / contain no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.99998 4.50003L5.99998 8.50003L1.99998 4.50003' stroke='%23FFFFFF' stroke-miterlimit='10' stroke-linecap='square'/%3E%3C/svg%3E");

        @include respond-to(sm) {
          width: 16px;
          height: 16px;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        transition: all 0.4s ease-in-out; /* Изменено на ease-in-out для более плавного эффекта */
        will-change: max-height, opacity; /* Оптимизация для анимации */
        max-height: 0; /* Изменено с height на max-height */
        overflow: hidden; /* Скрываем содержимое при сворачивании */
        opacity: 0;
        visibility: hidden;

        @include respond-to(md) {
          gap: 16px;
        }

        @include respond-to(sm) {
          gap: 8px;
        }
      }

      &-match {
        display: grid;
        grid-template-columns: 1fr 232px 232px;
        padding: 0 0 0 56px;
        gap: 24px;

        @include respond-to(md) {
          grid-template-columns: 1fr 150px 150px;
          gap: 8px;
          padding: 0 0 0 32px;
        }

        @include respond-to(sm) {
          grid-template-columns: 1fr 100px 100px;
          gap: 4px;
          padding: 0 0 0 20px;
        }

        &-name,
        &-place,
        &-points {
          color: $second;
          font-size: 16px;
          font-weight: 500;
          line-height: 1;

          @include respond-to(md) {
            font-size: 9.6px;
          }
        }

        &-col {
          &:not(:first-child) {
            text-align: center;
          }
        }
      }

      &-col {
        &--icon {
          width: 32px;
          height: 32px;
          background: center / contain no-repeat;

          @include respond-to(md) {
            width: 24px;
            height: 24px;
          }

          @include respond-to(sm) {
            width: 16px;
            height: 16px;
          }
        }
        &--games {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;

          @include respond-to(sm) {
            gap: 4px;
          }
        }

        &:nth-child(3),
        &:nth-child(4) {
          text-align: center;
        }
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        #{$item}-name {
          color: $dark-gold;
          font-weight: 600;
        }
      }
      &:nth-child(1) {
        #{$item}-col {
          &--icon {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2224 17.0867C30.3054 17.0867 31.9999 15.3921 31.9999 13.3091V11.5048H29.6059C28.8765 11.5048 28.1628 11.7171 27.552 12.1157C27.4845 11.7421 27.3988 11.372 27.295 11.0068L28.0158 10.5919C28.8897 10.0875 29.5147 9.27287 29.7759 8.29822C30.0371 7.32357 29.9031 6.30555 29.3985 5.4317L28.4964 3.86914L26.4231 5.06616C25.6049 5.53851 24.9978 6.29698 24.7135 7.20182C24.4335 8.0926 24.4894 9.04869 24.8705 9.89572L25.2959 10.9085C25.6739 11.9666 25.8657 13.0821 25.8657 14.2247C25.8657 19.6646 21.4401 24.0903 16.0002 24.0903C10.5603 24.0903 6.1347 19.6646 6.1347 14.2247C6.1347 13.0793 6.32638 11.9638 6.70418 10.9086L7.12947 9.89572C7.51058 9.04863 7.56639 8.0926 7.28653 7.20182C7.00223 6.29698 6.39506 5.53851 5.57691 5.06616L3.50355 3.86914L2.60146 5.4317C2.09692 6.30555 1.96292 7.32357 2.22404 8.29822C2.48515 9.27287 3.11025 10.0875 3.98522 10.5926L4.70475 11.0067C4.60096 11.3719 4.51523 11.742 4.44789 12.1156C3.83904 11.7192 3.12863 11.5048 2.39403 11.5048H0V13.3091C0 15.3921 1.69462 17.0867 3.77885 17.0867L4.61288 17.0856C4.70559 17.4543 4.81632 17.8183 4.94468 18.1763C4.21746 18.1358 3.49368 18.3046 2.85695 18.6723L0.783719 19.8693L1.68587 21.4319C2.38472 22.6423 3.65661 23.3198 4.96343 23.3198C5.62496 23.3199 6.27481 23.1454 6.84729 22.8139L7.57514 22.3923C7.83982 22.6653 8.11762 22.9254 8.40755 23.1718C7.7539 23.5008 7.21072 24.0139 6.84486 24.6476L5.64784 26.7209L7.21041 27.623C7.79251 27.9591 8.43842 28.1308 9.09308 28.1308C9.42119 28.1308 9.75156 28.0877 10.0769 28.0005C11.0516 27.7393 11.8662 27.1142 12.3713 26.2393L12.7864 25.518C13.8081 25.8092 14.8863 25.9652 16.0002 25.9652C17.114 25.9652 18.1921 25.8093 19.2138 25.5182L19.6294 26.2404C20.3284 27.451 21.6007 28.1284 22.9072 28.1284C23.5683 28.1286 24.2176 27.9543 24.7897 27.6231L26.3522 26.7209L25.1552 24.6477C24.7894 24.014 24.2463 23.5011 23.5928 23.1719C23.8827 22.9256 24.1605 22.6655 24.4253 22.3924L25.154 22.8147C25.726 23.1459 26.3754 23.3202 27.0364 23.32C28.3428 23.32 29.6153 22.6424 30.3142 21.432L31.2163 19.8695L29.1431 18.6724C28.5065 18.3049 27.7829 18.136 27.0558 18.1764C27.1841 17.8185 27.2948 17.4545 27.3876 17.0857L28.2224 17.0867Z' fill='%23FFEA99'/%3E%3Cpath d='M16.0004 6.27582C11.6579 6.27582 8.125 9.80868 8.125 14.1512C8.125 18.4937 11.6579 22.0266 16.0004 22.0266C20.3429 22.0266 23.8758 18.4937 23.8758 14.1512C23.8758 9.80868 20.3429 6.27582 16.0004 6.27582Z' fill='%23FFEA99'/%3E%3Cpath d='M14.1317 18.044V16.603L15.1217 16.548V12.126L14.1757 12.225V10.74L16.9697 10.3V16.548L17.8717 16.603V18.044L16.0017 17.956L14.1317 18.044Z' fill='%23151515'/%3E%3C/svg%3E");
          }
        }
      }
      &:nth-child(2) {
        #{$item}-col {
          &--icon {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2224 17.0867C30.3054 17.0867 31.9999 15.3921 31.9999 13.3091V11.5048H29.6059C28.8765 11.5048 28.1628 11.7171 27.552 12.1157C27.4845 11.7421 27.3988 11.372 27.295 11.0068L28.0158 10.5919C28.8897 10.0875 29.5147 9.27287 29.7759 8.29822C30.0371 7.32357 29.9031 6.30555 29.3985 5.4317L28.4964 3.86914L26.4231 5.06616C25.6049 5.53851 24.9978 6.29698 24.7135 7.20182C24.4335 8.0926 24.4894 9.04869 24.8705 9.89572L25.2959 10.9085C25.6739 11.9666 25.8657 13.0821 25.8657 14.2247C25.8657 19.6646 21.4401 24.0903 16.0002 24.0903C10.5603 24.0903 6.1347 19.6646 6.1347 14.2247C6.1347 13.0793 6.32638 11.9638 6.70418 10.9086L7.12947 9.89572C7.51058 9.04863 7.56639 8.0926 7.28653 7.20182C7.00223 6.29698 6.39506 5.53851 5.57691 5.06616L3.50355 3.86914L2.60146 5.4317C2.09692 6.30555 1.96292 7.32357 2.22404 8.29822C2.48515 9.27287 3.11025 10.0875 3.98522 10.5926L4.70475 11.0067C4.60096 11.3719 4.51523 11.742 4.44789 12.1156C3.83904 11.7192 3.12863 11.5048 2.39403 11.5048H0V13.3091C0 15.3921 1.69462 17.0867 3.77885 17.0867L4.61288 17.0856C4.70559 17.4543 4.81632 17.8183 4.94468 18.1763C4.21746 18.1358 3.49368 18.3046 2.85695 18.6723L0.783719 19.8693L1.68587 21.4319C2.38472 22.6423 3.65661 23.3198 4.96343 23.3198C5.62496 23.3199 6.27481 23.1454 6.84729 22.8139L7.57514 22.3923C7.83982 22.6653 8.11762 22.9254 8.40755 23.1718C7.7539 23.5008 7.21072 24.0139 6.84486 24.6476L5.64784 26.7209L7.21041 27.623C7.79251 27.9591 8.43842 28.1308 9.09308 28.1308C9.42119 28.1308 9.75156 28.0877 10.0769 28.0005C11.0516 27.7393 11.8662 27.1142 12.3713 26.2393L12.7864 25.518C13.8081 25.8092 14.8863 25.9652 16.0002 25.9652C17.114 25.9652 18.1921 25.8093 19.2138 25.5182L19.6294 26.2404C20.3284 27.451 21.6007 28.1284 22.9072 28.1284C23.5683 28.1286 24.2176 27.9543 24.7897 27.6231L26.3522 26.7209L25.1552 24.6477C24.7894 24.014 24.2463 23.5011 23.5928 23.1719C23.8827 22.9256 24.1605 22.6655 24.4253 22.3924L25.154 22.8147C25.726 23.1459 26.3754 23.3202 27.0364 23.32C28.3428 23.32 29.6153 22.6424 30.3142 21.432L31.2163 19.8695L29.1431 18.6724C28.5065 18.3049 27.7829 18.136 27.0558 18.1764C27.1841 17.8185 27.2948 17.4545 27.3876 17.0857L28.2224 17.0867Z' fill='%23FFEA99'/%3E%3Cpath d='M16.0004 6.27582C11.6579 6.27582 8.125 9.80868 8.125 14.1512C8.125 18.4937 11.6579 22.0266 16.0004 22.0266C20.3429 22.0266 23.8758 18.4937 23.8758 14.1512C23.8758 9.80868 20.3429 6.27582 16.0004 6.27582Z' fill='%23FFEA99'/%3E%3Cpath d='M18.9706 16.394V18H13.0306V13.875L17.1226 13.325V11.906H13.0746V10.3H17.6286L18.9706 11.642V14.612L14.8786 15.162V16.394H18.9706Z' fill='%23151515'/%3E%3C/svg%3E");
          }
        }
      }
      &:nth-child(3) {
        #{$item}-col {
          &--icon {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28.2224 17.0867C30.3054 17.0867 31.9999 15.3921 31.9999 13.3091V11.5048H29.6059C28.8765 11.5048 28.1628 11.7171 27.552 12.1157C27.4845 11.7421 27.3988 11.372 27.295 11.0068L28.0158 10.5919C28.8897 10.0875 29.5147 9.27287 29.7759 8.29822C30.0371 7.32357 29.9031 6.30555 29.3985 5.4317L28.4964 3.86914L26.4231 5.06616C25.6049 5.53851 24.9978 6.29698 24.7135 7.20182C24.4335 8.0926 24.4894 9.04869 24.8705 9.89572L25.2959 10.9085C25.6739 11.9666 25.8657 13.0821 25.8657 14.2247C25.8657 19.6646 21.4401 24.0903 16.0002 24.0903C10.5603 24.0903 6.1347 19.6646 6.1347 14.2247C6.1347 13.0793 6.32638 11.9638 6.70418 10.9086L7.12947 9.89572C7.51058 9.04863 7.56639 8.0926 7.28653 7.20182C7.00223 6.29698 6.39506 5.53851 5.57691 5.06616L3.50355 3.86914L2.60146 5.4317C2.09692 6.30555 1.96292 7.32357 2.22404 8.29822C2.48515 9.27287 3.11025 10.0875 3.98522 10.5926L4.70475 11.0067C4.60096 11.3719 4.51523 11.742 4.44789 12.1156C3.83904 11.7192 3.12863 11.5048 2.39403 11.5048H0V13.3091C0 15.3921 1.69462 17.0867 3.77885 17.0867L4.61288 17.0856C4.70559 17.4543 4.81632 17.8183 4.94468 18.1763C4.21746 18.1358 3.49368 18.3046 2.85695 18.6723L0.783719 19.8693L1.68587 21.4319C2.38472 22.6423 3.65661 23.3198 4.96343 23.3198C5.62496 23.3199 6.27481 23.1454 6.84729 22.8139L7.57514 22.3923C7.83982 22.6653 8.11762 22.9254 8.40755 23.1718C7.7539 23.5008 7.21072 24.0139 6.84486 24.6476L5.64784 26.7209L7.21041 27.623C7.79251 27.9591 8.43842 28.1308 9.09308 28.1308C9.42119 28.1308 9.75156 28.0877 10.0769 28.0005C11.0516 27.7393 11.8662 27.1142 12.3713 26.2393L12.7864 25.518C13.8081 25.8092 14.8863 25.9652 16.0002 25.9652C17.114 25.9652 18.1921 25.8093 19.2138 25.5182L19.6294 26.2404C20.3284 27.451 21.6007 28.1284 22.9072 28.1284C23.5683 28.1286 24.2176 27.9543 24.7897 27.6231L26.3522 26.7209L25.1552 24.6477C24.7894 24.014 24.2463 23.5011 23.5928 23.1719C23.8827 22.9256 24.1605 22.6655 24.4253 22.3924L25.154 22.8147C25.726 23.1459 26.3754 23.3202 27.0364 23.32C28.3428 23.32 29.6153 22.6424 30.3142 21.432L31.2163 19.8695L29.1431 18.6724C28.5065 18.3049 27.7829 18.136 27.0558 18.1764C27.1841 17.8185 27.2948 17.4545 27.3876 17.0857L28.2224 17.0867Z' fill='%23FFEA99'/%3E%3Cpath d='M16.0004 6.27582C11.6579 6.27582 8.125 9.80868 8.125 14.1512C8.125 18.4937 11.6579 22.0266 16.0004 22.0266C20.3429 22.0266 23.8758 18.4937 23.8758 14.1512C23.8758 9.80868 20.3429 6.27582 16.0004 6.27582Z' fill='%23FFEA99'/%3E%3Cpath d='M17.8366 18H12.9086V16.46H17.2096V14.81H13.5686V13.336H16.9896V11.84H13.0186V10.3H17.6166L18.8926 11.576V13.435L18.1996 13.974L19.1126 14.7V16.724L17.8366 18Z' fill='%23151515'/%3E%3C/svg%3E");
          }
        }
      }

      &.open {
        #{$item}-content {
          padding-bottom: 24px;
          max-height: 2000px; /* Достаточно большое значение для вмещения контента */
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
