.c-select {
  position: relative;
  $select: &;

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    gap: 10px;
    padding: 17px 0;
    background: $second;
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid $second;
    transition: none;
    -webkit-tap-highlight-color: transparent;

    &:active {
      background: $second;
    }
  }
  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $second; // Цвет для placeholder (когда ничего не выбрано)
    font-size: 18px;
    font-weight: 500;
    font-family: $font-secondary;

    &.has-value {
      color: $prime; // Цвет для выбранного значения
    }
  }
  &__caret {
    transition: transform 0.3s ease;
    width: 16px;
    height: 16px;
    background: center / auto no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29279 8.29279C5.10532 8.48031 5 8.73462 5 8.99979C5 9.26495 5.10532 9.51926 5.29279 9.70679L11.2928 15.7068C11.4803 15.8943 11.7346 15.9996 11.9998 15.9996C12.265 15.9996 12.5193 15.8943 12.7068 15.7068L18.7068 9.70679C18.8889 9.51818 18.9897 9.26558 18.9875 9.00339C18.9852 8.74119 18.88 8.49038 18.6946 8.30497C18.5092 8.11956 18.2584 8.01439 17.9962 8.01211C17.734 8.00983 17.4814 8.11063 17.2928 8.29279L11.9998 13.5858L6.70679 8.29279C6.51926 8.10532 6.26495 8 5.99979 8C5.73462 8 5.48031 8.10532 5.29279 8.29279Z' fill='%23BFBFBF'/%3E%3C/svg%3E");
  }

  &__dropdown {
    width: 100%;
    position: absolute;
    inset-inline: 0 auto;
    z-index: 10;
    padding: 0;
    background: $second;
    box-shadow: 0 0 5px rgba(#000, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s linear 0.3s;
    pointer-events: none;
    visibility: hidden;

    &[hidden] {
      display: none !important;
    }
  }

  &__list {
    max-height: 260px;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &__option {
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid $second;
    padding: 12px 6px;
    color: $prime;
    font-family: $font-secondary;

    &:hover {
      color: $prime;
      background: $second;
    }
    &.is-selected {
      background: $prime;
      color: $second;
    }
  }

  &.is-open {
    #{$select}__caret {
      transform: rotateX(180deg);
    }

    #{$select}__dropdown {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      visibility: visible;
      transition:
        opacity 0.3s ease,
        transform 0.3s ease,
        visibility 0s linear 0s;
    }
  }
  &.is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  .cs-wrap {
    width: 100% !important;

    @include respond-to(md) {
      padding-right: 0 !important;
    }
  }

  .cs-scroll {
    @include respond-to(md) {
      display: none !important;
    }
  }

  &--light {
    #{$select}__toggle {
      background: transparent;
    }
    #{$select}__value {
      &.has-value {
        color: $second; // Цвет для выбранного значения
      }
    }
  }
}
