.socials {
  display: flex;
  align-items: center;
  gap: 32px;
  $socials: &;

  @include respond-to(lg) {
    gap: 12px;
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @include respond-to(lg) {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      // border: 1px solid $second;
    }
  }

  &_icon {
    @include respond-to(lg) {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
    }
    img {
      width: 100%;
    }
  }
  &_text {
    color: $second;
    font-size: 16px;
    font-family: $font-secondary;
    transition: all 0.2s linear;

    @include respond-to(lg) {
      display: none;
    }
  }

  &--footer {
    #{$socials}_text {
      color: $prime;
    }
  }

  &--mobile {
    #{$socials}_item {
    }
    #{$socials}_text {
    }
    #{$socials}_icon {
    }
  }

  &--gold {
    #{$socials}_text {
      color: $prime;
      font-size: 20px;
    }

    #{$socials}_icon {
      width: 40px;
      height: 40px;
    }
  }

  &_item {
    &:hover {
      #{$socials}_text {
        color: #fff;
      }
    }
  }

  &--header {
    gap: 12px;

    #{$socials}_item {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #{$socials}_icon {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.9;
      transition: opacity 0.2s ease;

      img {
        width: 100%;
        height: 100%;
        filter: brightness(0) invert(1);
      }
    }

    #{$socials}_text {
      display: none;
    }

    #{$socials}_item:hover {
      // #{$socials}_icon {
      //   opacity: 1;
      //   filter: brightness(0) saturate(100%) invert(67%) sepia(45%) saturate(1234%) hue-rotate(5deg)
      //     brightness(0.9) contrast(0.9);
      // }
    }
  }
}
