.stars {
  display: flex;
  align-items: center;
  gap: 12px;
  $stars: &;

  &_text {
    font-size: 16px;
    font-weight: 600;
    color: $prime;
    line-height: 1;
    font-family: $font-secondary;
  }

  &_items {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &_item {
    display: block;
    position: relative;
    cursor: pointer;
    background: center / contain no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_134_9530)'%3E%3Cpath d='M3.58119 15.3644C3.40587 15.3644 3.2318 15.3097 3.08324 15.2023C2.94811 15.1045 2.84472 14.9691 2.78593 14.813C2.72713 14.6569 2.71552 14.487 2.75254 14.3243L3.78188 9.79015L0.29104 6.72886C0.165491 6.61931 0.0749239 6.47527 0.0306056 6.31465C-0.0137127 6.15403 -0.00982558 5.98392 0.0417832 5.82549C0.0930753 5.66715 0.189713 5.52734 0.319715 5.4234C0.449717 5.31947 0.607365 5.25597 0.773114 5.24079L5.39189 4.82143L7.21803 0.547982C7.35263 0.234005 7.65926 0.03125 7.99999 0.03125C8.34071 0.03125 8.64735 0.234005 8.78201 0.547263L10.6081 4.82143L15.2261 5.24073C15.5662 5.27135 15.8528 5.50148 15.9582 5.82546C16.0636 6.14947 15.9661 6.50482 15.7095 6.72883L12.2187 9.78956L13.2481 14.3236C13.3235 14.657 13.1941 15.0018 12.9175 15.2017C12.6415 15.4016 12.2734 15.417 11.9828 15.2423L7.99999 12.8623L4.01723 15.2437C3.88257 15.3236 3.73253 15.3644 3.58119 15.3644ZM7.99999 11.837C8.15136 11.837 8.30124 11.8776 8.43603 11.9576L12.1948 14.2057L11.2233 9.92616C11.1893 9.77658 11.1964 9.62059 11.2438 9.47471C11.2913 9.32883 11.3773 9.19849 11.4927 9.09751L14.7888 6.20681L10.428 5.81083C10.2746 5.79709 10.1277 5.74187 10.0032 5.65108C9.87875 5.56029 9.78131 5.43734 9.72134 5.29541L7.99999 1.26262L6.27657 5.29601C6.15522 5.58336 5.88518 5.78077 5.57196 5.80946L1.2105 6.20547L4.50652 9.09617C4.74259 9.30286 4.84584 9.62024 4.7759 9.92556L3.80519 14.205L7.56394 11.9576C7.6986 11.8776 7.84864 11.837 7.99999 11.837ZM5.35661 4.90406C5.35661 4.90406 5.35661 4.90478 5.35589 4.90541L5.35661 4.90406ZM10.6421 4.90209L10.6428 4.90344C10.6428 4.90272 10.6428 4.90272 10.642 4.90209H10.6421Z' fill='%23D2B589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_9530'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

    &-fill {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_134_9414)'%3E%3Cpath d='M3.08324 15.2023C3.2318 15.3097 3.40587 15.3644 3.58119 15.3644C3.73253 15.3644 3.88257 15.3237 4.01723 15.2437L7.99998 12.8623L11.9828 15.2424C12.2734 15.417 12.6415 15.4017 12.9175 15.2017C13.1941 15.0018 13.3235 14.657 13.2481 14.3236L12.2187 9.78958L15.7095 6.72884C15.9661 6.50483 16.0636 6.14948 15.9582 5.82547C15.8528 5.50149 15.5662 5.27136 15.2261 5.24074L10.6081 4.82144L8.782 0.547264C8.64734 0.234006 8.34071 0.03125 7.99998 0.03125C7.65926 0.03125 7.35262 0.234006 7.21803 0.547983L5.39189 4.82144L0.773114 5.2408C0.607365 5.25598 0.449717 5.31948 0.319715 5.42341C0.189713 5.52735 0.0930753 5.66716 0.0417832 5.8255C-0.00982558 5.98393 -0.0137127 6.15404 0.0306056 6.31466C0.0749239 6.47528 0.165491 6.61932 0.29104 6.72887L3.78188 9.79017L2.75254 14.3244C2.71552 14.487 2.72713 14.6569 2.78593 14.813C2.84472 14.9691 2.94811 15.1045 3.08324 15.2023Z' fill='%23D2B589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_9414'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &-active {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_134_9414)'%3E%3Cpath d='M3.08324 15.2023C3.2318 15.3097 3.40587 15.3644 3.58119 15.3644C3.73253 15.3644 3.88257 15.3237 4.01723 15.2437L7.99998 12.8623L11.9828 15.2424C12.2734 15.417 12.6415 15.4017 12.9175 15.2017C13.1941 15.0018 13.3235 14.657 13.2481 14.3236L12.2187 9.78958L15.7095 6.72884C15.9661 6.50483 16.0636 6.14948 15.9582 5.82547C15.8528 5.50149 15.5662 5.27136 15.2261 5.24074L10.6081 4.82144L8.782 0.547264C8.64734 0.234006 8.34071 0.03125 7.99998 0.03125C7.65926 0.03125 7.35262 0.234006 7.21803 0.547983L5.39189 4.82144L0.773114 5.2408C0.607365 5.25598 0.449717 5.31948 0.319715 5.42341C0.189713 5.52735 0.0930753 5.66716 0.0417832 5.8255C-0.00982558 5.98393 -0.0137127 6.15404 0.0306056 6.31466C0.0749239 6.47528 0.165491 6.61932 0.29104 6.72887L3.78188 9.79017L2.75254 14.3244C2.71552 14.487 2.72713 14.6569 2.78593 14.813C2.84472 14.9691 2.94811 15.1045 3.08324 15.2023Z' fill='%23D2B589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_9414'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &-hover {
      background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_134_9414)'%3E%3Cpath d='M3.08324 15.2023C3.2318 15.3097 3.40587 15.3644 3.58119 15.3644C3.73253 15.3644 3.88257 15.3237 4.01723 15.2437L7.99998 12.8623L11.9828 15.2424C12.2734 15.417 12.6415 15.4017 12.9175 15.2017C13.1941 15.0018 13.3235 14.657 13.2481 14.3236L12.2187 9.78958L15.7095 6.72884C15.9661 6.50483 16.0636 6.14948 15.9582 5.82547C15.8528 5.50149 15.5662 5.27136 15.2261 5.24074L10.6081 4.82144L8.782 0.547264C8.64734 0.234006 8.34071 0.03125 7.99998 0.03125C7.65926 0.03125 7.35262 0.234006 7.21803 0.547983L5.39189 4.82144L0.773114 5.2408C0.607365 5.25598 0.449717 5.31948 0.319715 5.42341C0.189713 5.52735 0.0930753 5.66716 0.0417832 5.8255C-0.00982558 5.98393 -0.0137127 6.15404 0.0306056 6.31466C0.0749239 6.47528 0.165491 6.61932 0.29104 6.72887L3.78188 9.79017L2.75254 14.3244C2.71552 14.487 2.72713 14.6569 2.78593 14.813C2.84472 14.9691 2.94811 15.1045 3.08324 15.2023Z' fill='%23D2B589'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_134_9414'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }

  &--sm {
    #{$stars}_item {
      width: 16px;
      height: 16px;
    }
  }

  &--md {
    #{$stars}_item {
      width: 20px;
      height: 20px;
    }
  }
}
