.team {
  $team: &;

  &_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    @include respond-to(xl) {
      gap: 24px;
    }

    @include respond-to(lg) {
      grid-template-columns: 1fr;
      gap: 32px;
    }
  }

  &_body {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include respond-to(lg) {
      gap: 32px;
    }

    @include respond-to(md) {
      gap: 24px;
    }
  }

  &_text {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @include respond-to(md) {
      gap: 12px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    p {
      font-size: 18px;
      line-height: calc(32 / 18);
      color: $prime;
      font-family: $font-secondary;
      font-weight: 450;

      @include respond-to(md) {
        font-size: 16px;
        line-height: calc(24 / 16);
      }
    }
  }

  &_action {
    @include respond-to(sm) {
      width: 100%;

      .btn {
        width: 100%;
      }
    }
  }

  &_img {
    aspect-ratio: 1.4 / 1;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

    @include respond-to(xl) {
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_members {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @include respond-to(xl) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @include respond-to(md) {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &_member {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include respond-to(md) {
      gap: 12px;
    }
  }

  &_member_img {
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    @include respond-to(md) {
      border-radius: 16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_member_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_member_name {
    font-size: 18px;
    font-weight: 600;
    color: $prime;
    line-height: 1.2;

    @include respond-to(md) {
      font-size: 16px;
    }
  }

  &_member_position {
    font-size: 16px;
    font-weight: 450;
    color: $prime;
    line-height: 1.2;
    font-family: $font-secondary;

    @include respond-to(md) {
      font-size: 14px;
    }
  }
}
