mixin EventsItem(props)
  a.events_item(href="#")
    .events_item_info
      span.events_item_type Гран-при
      span.events_item_date 30.11.2024
    .events_item_title
      span Гран-При «Калибр - 2024». XI этап.
      p По практической стрельбе в дисциплине пистолет
    .events_item_arrow