//- Блоки преимуществ с римскими цифрами для hero-секции
mixin Features(items = [])
  .features_cards
    each item, index in items
      .features_card(data-aos="fade-up", data-aos-duration="1000")
        .features_card_num= item.num
        .features_card_content
          if item.title
            .features_card_title!= item.title
          if item.text
            .features_card_text= item.text
      
