// Blog
section.section.section--blog(data-aos="fade-up", data-aos-duration="1000")
  .container.section_container.blog_container
    +Filters({})
    .blog_wrapper
      .blog_items
        +CardPost({
          title: 'Интерьер с мужским характером: что это такое?',
          img: 'assets/img/new/post-1.jpg',
          text: 'Минимализм и функциональность - среди главных интерьерных трендов, а еще это признаки так называемого мужского интерьера',
          date: '24.07.2025'
        })(class='posts-swiper_item')
        +CardPost({
          title: 'Тренды в дизайне интерьера - 2025: большие растения, леопард и Япония',
          img: 'assets/img/new/post-2.jpg',
          text: 'Рассказываем, какие цвета, отделка и мебель будут наиболее актуальны в будущем году',
          date: '25.07.2025'
        })(class='posts-swiper_item')
        +CardPost({
          title: 'Антитренды в дизайне интерьера - 2025: букле, монохром и черная фурнитура',
          img: 'assets/img/new/post-3.jpg',
          text: 'Рассказываем, от какой отделки, мебели и предметов декора стоит отказаться, чтобы интерьер выглядел актуальным',
          date: '15.07.2025'
        })(class='posts-swiper_item')
        +CardPost({
          title: 'Интерьер с мужским характером: что это такое?',
          img: 'assets/img/new/post-1.jpg',
          text: 'Минимализм и функциональность - среди главных интерьерных трендов, а еще это признаки так называемого мужского интерьера',
          date: '24.07.2025'
        })(class='posts-swiper_item')
        +CardPost({
          title: 'Интерьер с мужским характером: что это такое?',
          img: 'assets/img/new/post-1.jpg',
          text: 'Минимализм и функциональность - среди главных интерьерных трендов, а еще это признаки так называемого мужского интерьера',
          date: '24.07.2025'
        })(class='posts-swiper_item')
        +CardPost({
          title: 'Тренды в дизайне интерьера - 2025: большие растения, леопард и Япония',
          img: 'assets/img/new/post-2.jpg',
          text: 'Рассказываем, какие цвета, отделка и мебель будут наиболее актуальны в будущем году',
          date: '25.07.2025'
        })(class='posts-swiper_item')
    +Pagination({})