// Content Post
section.section.section--post(data-aos="fade-up", data-aos-duration="1000")
  .container.section_container
    .post_wrapper
      .post_body
        .post_article
          h2.title.title-h2.post_article-title Введение
          .post_text
            p Настоящая Политика обработки персональных данных (далее по тексту – «Политика») подготовлена Администрацией Сайта в соответствии с положениями и требованиями действующего законодательства Российской Федерации и направлена на определение условий в отношении получения (сбора) информации о Пользователях Сайта, использования и передачи информации о Пользователях Сайта, предоставления доступа к информации о Пользователях Сайта третьим лицам, в частности Кредитным организациям.
            p Настоящая Политика является юридически обязательным документом для Пользователей, использующих Сайт в соответствии с его основным назначением. Каждый Пользователь обязуется ознакомиться с настоящей Политикой до момента начала использования Сайта.
            p Акцепт настоящей Политики осуществляется при совершении Пользователем действий, свидетельствующих о прочтении и принятии Политики, а именно путем фактического использования Сайта (его технических возможностей и функционала), что свидетельствует о намерении, волеизъявлении, желании и согласии Пользователя соблюдать и исполнять настоящую Политику.
            p Акцепт Политики означает ознакомление, понимание всех вместе и каждого в отдельности условий Политики, полное, безусловное и безоговорочное согласие Пользователя с положениями и требованиями, а также принятие на себя обязательства неукоснительно соблюдать все правила, определённые в Политике.
            p Администрация Сайта и Пользователь далее по тексту Политики совместно упоминаются как – «Стороны», а по отдельности как – «Сторона».
        .post_article
          h2.title.title-h2.post_article-title 1. ТЕРМИНЫ, ИСПОЛЬЗУЕМЫЕ В ПОЛИТИКЕ
          .post_text
            p 1.1. В целях настоящей Политики нижеприведенные термины используются в следующем значении:
            p 1.1.1. Сайт – результат интеллектуальной деятельности, представляющий собой составное произведение, расположенное в информационно-телекоммуникационной сети Интернет под определенным сетевым адресом (доменом, доменным именем, поддоменом) и включающее в себя программы для ЭВМ (программное обеспечение), обеспечивающие его технологическое и техническое функционирование, графическое решение (дизайн, порядок расположения элементов, применяемая цветовая гамма и т.д.), контент, а именно текстовую информацию, фотографические изображения, картинки, видеозаписи, аудиозаписи и др., объединенные единым назначением и смыслом и представленные в виде веб-страниц. Под Сайтом в тексте настоящего Соглашения понимается Сайт, принадлежащий Администрации Сайта, расположенный в информационно-телекоммуникационной сети Интернет под доменным именем (доменом, поддоменом, адресом) – https://axenovremont.ru/, а также входящие в его состав поддомены и производные веб-страницы.
            p 1.1.2. Администрация Сайта – владелец настоящего веб-сайта, которому принадлежат права использования, управления и распоряжения Сайтом, предоставляющий Сайт в пользование Пользователям и оказывающий Пользователям услуги, предусмотренные Пользовательским соглашением, описанные непосредственно на самом Сайте или определенные техническим функционалом Сайта. От имени Администрации Сайта на Сайте действует ее уполномоченный представитель (модератор), назначаемый непосредственно Администрацией Сайта.
            p 1.1.3. Пользователь – физическое лицо, являющееся получателем или потенциальным получателем услуг, оказываемых Администрацией Сайта, описанных непосредственно на самом Сайте или определенных техническим функционалом Сайта.
            p 1.1.4.Информация (данные) – любые сведения о Пользователе или  касающиеся Пользователя.
            p 1.1.5. Персональные данные — любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
            p 1.1.6. Обработка персональных данных — любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
            p 1.1.7. Запрос (заявка, обращение) – обращение Пользователя через формы на Сайте с целью получения юридической консультации, ответа на вопрос или иной информации и/или заключения договора на оказание юридических услуг по сопровождению банкротства физических лиц.
            p 1.2. В случае отсутствия однозначного толкования термина в тексте настоящей Политики следует руководствоваться толкованием терминов: в первую очередь определенным на Сайте https://axenovremont.ru (далее по тексту – «Сайт»); во вторую очередь в соответствие с нормами действующего законодательства Российской Федерации.
      .post_aside
        .widget
          .widget-title
            p Содержание статьи:
          .widget-content
            .toc#toc-list