// FAQ
section.section.section--faq(data-aos="fade-up", data-aos-duration="1000")
  .container.section_container.faq_container
    .faq_content
      h2.faq_title.title.title-h2 ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ
      .faq_text
        p Мы используем современные технологии, тщательно
          br
          | прорабатываем каждую деталь и предлагаем решения
    .faq_items
      +AccordionItem({
        title: 'Сколько времени занимает ремонт квартиры?'
      })
      +AccordionItem({
        title: 'Можно ли заказать отдельные услуги?'
      })
      +AccordionItem({
        title: 'Зачем мне нужен комплектатор, и какие<br />преимущества я от этого получу?'
      })
      +AccordionItem({
        title: 'Сколько стоит разработка<br />дизайн-проекта и услуга комплектации?'
      })
      +AccordionItem({
        title: 'Что такое авторкий надзор?'
      })
      +AccordionItem({
        title: 'Почему авторский надзор важен<br />даже при работе «под ключ»?'
      })