//- Секция выбора между Царской палатой и Мовней
section.section.section--features
  .container.section_container
    .features_content
      .features_video(data-aos="fade-up", data-aos-duration="1000")
        iframe(src='https://kinescope.io/embed/ckbhMbwnRjK36cyWLdJ9Sc?&muted=true&autoplay=true&autopause=false', frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
      +Features([
          {
            title: 'Общественные и индивидуальные зоны',
            text: 'всё в одном премиальном комплексе рядом с Москва-Сити',
            num: 'I'
          },
          {
            title: 'Только в Княже',
            text: 'мужчины, женщины и дети парятся вместе. Четверг-мужской день',
            num: 'II'
          },
          {
            title: '13 видов пара для любого настроения и самочувствия',
            text: 'От расслабляющего мятного до тонизирующего хвойного. Травяные поддачи меняются каждый час, создавая живую динамику ощущений',
            num: 'III'
          },
          {
            title: 'Каждое посещение как обряд в древней Руси',
            text: 'Ритуальные шоу-парения, пар травами, натуральное дерево и обстановка, воссозданная по традициям предков',
            num: 'IV'
          },
          {
            title: 'Лёгкий, целебный пар, который бережно прогревает тело',
            text: 'Многие наши гости раньше избегали бань — теперь приходят с удовольствием. Благодаря мягкому пару, живому воздуху и неспешному прогреву тело расслабляется, а не страдает от жары',
            num: 'V'
          },
        ])
