//- Секция выбора между Царской палатой и Мовней
section.section.section--tabs
  .container.section_container
    +SectionTitle({
      title: 'Зри, гость дорогой, хоромы наши',
      size: 'lg',
      type: 'gold'
    })
    +Tabs({
      theme: 'light',
      items: [
        {
          title: 'Кедровая парная',
          object: 'Общая баня',
        },
        {
          title: 'Глиняная парная',
          object: 'Индивидуальная баня'
        },
        {
          title: 'СЬЮТ «СИЛА»',
          object: 'Индивидуальная баня'
        },
        {
          title: 'Сеновал',
          object: 'Индивидуальная баня'
        },
        {
          title: '3D-хаммам',
          object: 'Индивидуальная баня'
        },
        {
          title: 'Комната диковин',
          object: 'Индивидуальная баня'
        },
        {
          title: 'Купель',
          object: 'Общая баня'
        },
        {
          title: 'Традиционная русская кухня',
          object: 'ресторан'
        },
      ]
    })