// Rates
section.section.section--rates(data-aos="fade-up", data-aos-duration="1000")
  .container.section_container.rates_container
    +SectionTitle({
      title: 'Мы предлагаем',
      subtitle: 'Узнать стоимость дизайн-проекта',
      size: 'lg',
      type: 'light'
    })
    .rates_items
      +CardRate({
        title: 'Технический<br />Старт',
        price: '3 000 ₽ / м²',
        content: [
          {
            title: 'Обмеры:',
            text: 'На начальном этапе специалист выезжает на объект, выполняет профессиональные замеры помещений. Обмеры проводятся с высокой точностью, что станет основой для качественной разработки проекта.'
          },
          {
            title: 'Консультация:',
            text: 'После заполнения нашей анкеты (~16 минут на заполнение) из 130 простых вопросов, вы получите подробную консультацию по оптимальной организации пространства, учитывая ваши пожелания и существующие ограничения.'
          },
          {
            title: 'Планировочные решения:',
            text: 'Разработка нескольких вариантов планировочных решений, что позволяет выбрать оптимальный вариант организации пространства.'
          },
        ]
      })(class='rates_item')
      +CardRate({
        title: 'Индивидуальный<br />Подход',
        price: '4 500 ₽ / м²',
        content: [
          {
            title: 'Все услуги из "Технического Старта":',
            text: 'На начальном этапе специалист выезжает на объект, выполняет профессиональные замеры помещений. Обмеры проводятся с высокой точностью, что станет основой для качественной разработки проекта.'
          },
          {
            title: 'Подбор материалов:',
            text: 'Мы занимаемся подбором всех необходимых материалов, включая отделочные материалы, мебель и декор. Это гарантирует, что каждый элемент будет тщательно подобран и гармонично сочетаться с общей концепцией дизайна. Вы получаете рекомендации по качественным и актуальным материалам, подходящим для вашего бюджета, что избавляет вас от необходимости искать и сравнивать варианты самостоятельно.'
          },
          {
            title: 'Все услуги предыдущих тарифов:',
            text: '"Полный Контроль" включает все услуги из тарифов "Технический Старт" и "Индивидуальный Подход", что обеспечивает комплексный подход к вашему проекту. Вы получаете все технические чертежи, подбор материалов, фотореалистичную визуализацию, поддержку в чате, а также полное управление реализацией проекта с учетом всех деталей.'
          },
        ]
      })(class='rates_item')
      +CardRate({
        title: 'Полный<br />Контроль',
        price: '7 500 ₽ / м²',
        content: [
          {
            title: 'Все услуги предыдущих тарифов:',
            text: '"Полный Контроль" включает все услуги из тарифов "Технический Старт" и "Индивидуальный Подход", что обеспечивает комплексный подход к вашему проекту. Вы получаете все технические чертежи, подбор материалов, фотореалистичную визуализацию, поддержку в чате, а также полное управление реализацией проекта с учетом всех деталей.'
          },
          {
            title: 'Авторский надзор:',
            text: 'Мы следим за тем, чтобы реализация проекта соответствовала задуманной концепции. Авторский надзор включает регулярные выезды на объект, контроль за ходом выполнения работ, консультации для подрядчиков, помощь в решении текущих вопросов.'
          },
        ]
      })(class='rates_item')