// Reviews
section.section.section--reviews
  .container.section_container
    +SectionTitle({
      title: 'Отзывы и рейтинг',
      size: 'md',
      type: 'left'
    })
    .reviews_content
      .reviews_top
        +ReviewsService({
          logo: 'assets/img/new/logo-review-service-1.svg',
          rating: '5.0',
          total: 1258
        })
        +ReviewsService({
          logo: 'assets/img/new/logo-review-service-2.svg',
          rating: '4.8',
          total: 134
        })
        +ReviewsService({
          logo: 'assets/img/new/logo-review-service-3.svg',
          rating: '4.2',
          total: 1397
        })
        +ReviewsService({
          logo: 'assets/img/new/logo-review-service-4.svg',
          rating: '4.2',
          total: 1397
        })
        +ReviewsService({
          logo: 'assets/img/new/logo-review-service-5.svg',
          rating: '4.2',
          total: 1397
        })
      .reviews_items.reviews-swiper
        +ReviewsItem({
          name: 'Настя Дорофеева',
          title: 'Быстро и качественно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.','У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'vk',
          rating: 5
        })
        +ReviewsItem({
          name: 'Ульяная Лопатина',
          title: 'Все выглядит<br />очень достойно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'tg',
          rating: 4
        })
        +ReviewsItem({
          name: 'Николай Андреев',
          title: 'Ремонт пушка-гонка',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис.'],
          social: 'tg',
          rating: 5
        })
        +ReviewsItem({
          name: 'Ульяная Лопатина',
          title: 'Все выглядит<br />очень достойно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'tg',
          rating: 4
        })
        +ReviewsItem({
          name: 'Настя Дорофеева',
          title: 'Быстро и качественно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.','У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'vk',
          rating: 5
        })
        +ReviewsItem({
          name: 'Николай Андреев',
          title: 'Ремонт пушка-гонка',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис.'],
          social: 'tg',
          rating: 5
        })
        +ReviewsItem({
          name: 'Настя Дорофеева',
          title: 'Быстро и качественно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.','У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'vk',
          rating: 5
        })
        +ReviewsItem({
          name: 'Ульяная Лопатина',
          title: 'Все выглядит<br />очень достойно',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис. Быстро и качественно. Можно выбрать подходящий для себя вариант по стоимости и объёму работ.'],
          social: 'tg',
          rating: 4
        })
        +ReviewsItem({
          name: 'Николай Андреев',
          title: 'Ремонт пушка-гонка',
          text: ['У нас есть несколько квартир под сдачу, и везде ремонт заказывали у аксёнов сервис.'],
          social: 'tg',
          rating: 5
        })