//- @title: 404
//- @description: Ошибка
//- @page_class: error
extends ../layouts/default.pug

block content
  +Intro({
    title: 'Страница не найдена',
    breadcrumbs: ['Ошибка 404!']
  })

  section.error_404
    .container.error_404_container 
      +Frame()
        .error_404_content
          h1.title.title-h1 Ошибка 404!
          p Страница не найдена
          +Button('На главную', ['primary', 'lg', 'fw'])