//- @title: Мероприятия
//- @description: Описание страницы Мероприятий
//- @page_class: events
extends ../layouts/default.pug

block content
  +Intro({
    title: 'Мероприятия в княже',
    breadcrumbs: ['Мероприятия']
  })

  section.section.section--events
    .container.section_container
      .section_content
        .events_filters
          +Button('Грядущие пиршества', ['secondary', 'sm'])
          +Button('Прошедшие торжества', ['primary', 'sm'])
        .events_grid
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-1.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-2.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-1.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-2.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-1.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-2.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-1.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
          +CardEvent({
            title: 'ВОЛШЕБНАЯ БАНЯ в «Княже» — портал в мир гармонии и очищения!',
            img: 'assets/img/benefits-2.webp',
            text: 'Среди суеты будней — оазис тишины и преображения. Здесь пар, звук и движение сплетаются в древний танец очищения души и тела',
            label: '3 декабря с 18:00 до 23:00'
          })(class='events_item')
        .section_footer
          +Pagination({})