//- @title: Ссылки
//- @description: -
//- @page_class: links
extends ../layouts/default.pug

block content
  section.links
    .container
      h3.title.title-h3 Прогресс верстки
      .links_items
        +Link({
          num: 1,
          link: '/index.html',
          ver: 100,
          title: 'Главная'
        })
        +Link({
          num: 2,
          link: '/events.html',
          ver: 100,
          title: 'Мероприятия'
        })
        +Link({
          num: 3,
          link: '/event.html',
          ver: 100,
          title: 'Мероприятие'
        })
        +Link({
          num: 4,
          link: '/rest.html',
          ver: 100,
          title: 'Ресторан'
        })
        +Link({
          num: 5,
          link: '/price.html',
          ver: 100,
          title: 'Прайс'
        })
        +Link({
          num: 5.1,
          link: '/price-2.html',
          ver: 100,
          title: 'Прайс 2 версия'
        })
        +Link({
          num: 6,
          link: '/certificate.html',
          ver: 100,
          title: 'Подарочный сертификат'
        })
        +Link({
          num: 7,
          link: '/movnya.html',
          ver: 100,
          title: 'Мовня - Общественная баня'
        })
        +Link({
          num: 8,
          link: '/tsarpalata.html',
          ver: 100,
          title: 'Царская палата - Индивидуальная баня'
        })
        +Link({
          num: 9,
          link: '/contacts.html',
          ver: 100,
          title: 'Контакты'
        })
        +Link({
          num: 10,
          link: '/promotions.html',
          ver: 100,
          title: 'Акции'
        })
        +Link({
          num: 11,
          link: '/promotion.html',
          ver: 100,
          title: 'Акция'
        })
        +Link({
          num: 12,
          link: '/privacy.html',
          ver: 100,
          title: 'Политика конфиденциальности персональных данных'
        })
        +Link({
          num: 13,
          link: '/404.html',
          ver: 100,
          title: '404 Ошибка'
        })
        +Link({
          num: 14,
          link: '/single.html',
          ver: 100,
          title: 'Страница Шаблонная'
        })
        +Link({
          num: 15,
          link: '/places.html',
          ver: 100,
          title: 'Хоромы наши (Разводящая страница)'
        })
        +Link({
          num: 16,
          link: '/room.html',
          ver: 100,
          title: 'Хоромы (Подробная страница)'
        })
        +Link({
          num: 17,
          link: '/places-2.html',
          ver: 100,
          title: 'Хоромы наши (Разводящая страница 2 версия)'
        })