//- @title: Прайс
//- @description: Прайс-лист банного комплекса «Княже» - цены на услуги, банные обряды, СПА программы
//- @page_class: price
extends ../layouts/default.pug

block content
  +Intro({
    title: 'Прайс',
    breadcrumbs: ['Прайс']
  })

  section.section.section--tabs(data-aos="fade-up", data-aos-duration="1000")
    .container.section_container
      +Tabs({
        items: [
          {
            title: 'Индивидуальная баня',
            contentMixin: 'PriceCategory',
            contentMixinProps: {
              category: 'individual',
              sections: [
                {
                  title: 'Банные обряды',
                  items: [
                    {
                      name: 'Банный обряд «Князь Владимир»',
                      description: 'Знакомство с пармастером, приветственный аромапар, чайная церемония по-княжески, распаривание ног в кадушке, индивидуальное парение на пихтовой полке с укрыванием головы пихтовыми вениками и натиранием медом, контраст — ледяная простынь, второй заход на парение в 4 руки с можжевеловой выкаткой, контраст — ледяная купель, третий заход на парение, контраст (ледяные шайбы или обливание минеральной водой/пивом), звукотерапия на сеновале, отдых в лесной ванне, массаж 40 мин, пенная помывка березовым веником, Царская Трапеза',
                      price: '70 000₽',
                      note: '1 человек',
                      img: 'assets/img/benefits-1.webp'
                    },
                    {
                      name: 'Банный обряд «КНЯЖЕ»',
                      description: 'Приветственный аромапар, индивидуальное парение, контраст на ваш выбор, второй заход на парение, мыльная помывка в хаммаме, скраб на выбор гостя, завершающий аромапар, звукотерапия в сенной комнате, чаепитие. Неограниченный доступ в соляную комнату, хаммам, сенную комнату.',
                      price: '35 000₽',
                      note: '3 часа',
                      img: 'assets/img/benefits-2.webp'
                    },
                    {
                      name: 'Банный обряд «БОГАТЫРЬ»',
                      description: 'Программа для «сталеваров», любителей крепкого пара: приветственный аромапар, первый заход парение в 4 руки, контраст на ваш выбор, второй заход парение в 4 руки, отдых в соляной комнате, третий заход парение в 2 руки, контраст на ваш выбор, четвертый заход парение в 2 руки, завершающий аромапар, звукотерапия в сенной комнате, чаепитие.',
                      price: '40 000₽',
                      note: '3 часа'
                    },
                    {
                      name: 'Банный обряд «ЦАРСКОЕ СПА»',
                      description: 'Программа для любителей комплексного СПА: приветственный аромапар, скрабирование на ваш выбор, мыльная помывка в хаммаме, отдых в соляной комнате, аромаванна на ваш выбор, общий массаж на 40 минут, увлажнение тела, звукотерапия в сенной комнате, чаепитие.',
                      price: '35 000₽',
                      note: '3 часа'
                    }
                  ]
                },
                {
                  title: 'СПА программы',
                  items: [
                    {
                      name: 'СПА ПРОГРАММА «КНЯЖЕСКИЙ ОТДЫХ»',
                      description: 'Арома-скраб на выбор (смородина, ананас, манго), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония на сеновале',
                      price: '9 000₽',
                      note: '1,5 часа - 1 гость',
                      price2: '16 000₽',
                      note2: '2 гостя'
                    },
                    {
                      name: 'СПА ПРОГРАММА «ЦАРСКОЕ РАССЛАБЛЕНИЕ»',
                      description: 'Обертывание на выбор (шоколад, ламинария), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония с угощениями',
                      price: '10 000₽',
                      note: '1,5 часа - 1 гость',
                      price2: '18 000₽',
                      note2: '2 гостя'
                    },
                    {
                      name: 'СПА ПРОГРАММА «КОРОЛЕВСКОЕ УДОВОЛЬСТВИЕ»',
                      description: 'Арома-скраб на выбор (смородина, ананас, манго), обертывание на выбор (шоколад, ламинария), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония на сеновале',
                      price: '15 000₽',
                      note: '2 часа - 1 гость',
                      price2: '28 000₽',
                      note2: '2 гостя',
                      img: 'assets/img/ch-alt-1.webp'
                    }
                  ]
                },
                {
                  title: 'Царская палата',
                  items: [
                    {
                      name: 'Аренда «Царская палата»',
                      description: '2 VIP сьюта, SPA-зона, 3 авторских аромапара (в стоимость включено 6 входных билетов и 6 банных комплектов)',
                      price: '60 000₽',
                      note: '3 часа, 14 гостей, Пн-Пт',
                      price2: '80 000₽',
                      note2: 'Сб-Вс',
                      img: 'assets/img/event.webp'
                    },
                    {
                      name: 'Аренда VIP сьюта',
                      description: 'SPA-зона, 3 авторских аромапара (входные билеты оплачиваются отдельно)',
                      price: '15 000₽',
                      note: '3 часа, Пн-Пт',
                      price2: '18 000₽',
                      note2: 'Сб-Вс',
                      price3: '120₽',
                      note3: '1 мин, Пн-Пт',
                      price4: '170₽',
                      note4: '1 мин, Сб-Вс'
                    }
                  ]
                },
                {
                  title: 'Заморское СПА',
                  items: [
                    {
                      name: 'Восточное расслабление с рукавичкой Кесса La Sultane de Saba',
                      description: 'Пилинг тела с применением гипоаллергенной рукавички Кесса, прекрасно очищает кожу от отмерших клеток эпидермиса и усиливает микроциркуляцию. Маска Рассул с Маслом Карите обеспечивает глубокое проникновение активных ингредиентов.',
                      price: '20 000₽',
                      note: '2 часа 30 минут',
                      img: 'assets/img/ch-alt-2.webp'
                    },
                    {
                      name: 'Восточное расслабление с солью для пилинга La Sultane de Saba',
                      description: 'Волшебство преображения кожи начинается с удивительного соляного пилинга, который бережно, но эффективно раскрывает её природную красоту и возвращает коже здоровое сияние и свежесть.',
                      price: '20 000₽',
                      note: '2 часа 30 минут'
                    },
                    {
                      name: 'Уход восточный аюрведический La Sultane de Saba',
                      description: 'Древнее индийское учение Аюрведа — это жизненная философия. Гоммаж аюрведический с опьяняющим запахом пачули, амбры и ванили нежно очищает и эксфолиирует кожу.',
                      price: '20 000₽',
                      note: '2 часа 30 минут'
                    }
                  ]
                }
              ]
            }
          },
          {
            title: 'Общая баня',
            contentMixin: 'PriceCategory',
            contentMixinProps: {
              category: 'public',
              sections: [
                {
                  title: 'Входные билеты',
                  items: [
                    {
                      name: 'Понедельник-пятница',
                      description: '',
                      price: '5 200₽',
                      note: '1 минута - 28₽',
                      price2: '8 000₽',
                      note2: 'Без лимита по времени'
                    },
                    {
                      name: 'Суббота-воскресенье',
                      description: '',
                      price: '5 800₽',
                      note: '1 минута - 33₽'
                    },
                    {
                      name: 'Праздничные дни',
                      description: '',
                      price: '5 800₽',
                      note: ''
                    },
                    {
                      name: 'Льготная среда с 10:00 до 13:00',
                      description: 'с 3 до 7 лет - БЕСПЛАТНО, с 8 до 14 лет - СКИДКА 50%, с 14 лет - взрослый билет',
                      price: '2 300₽',
                      note: ''
                    }
                  ]
                },
                {
                  title: 'Парение',
                  items: [
                    {
                      name: 'ПАРЕНИЕ «Сила Князя»',
                      description: '',
                      price: '3 500₽',
                      note: '10 мин'
                    },
                    {
                      name: 'ПАРЕНИЕ «Родновер»',
                      description: '',
                      price: '5 500₽',
                      note: '20 мин'
                    },
                    {
                      name: 'ПАРЕНИЕ «Купеческое»',
                      description: '',
                      price: '6 500₽',
                      note: '25 мин'
                    },
                    {
                      name: 'ПАРЕНИЕ «Воевода»',
                      description: '',
                      price: '9 800₽',
                      note: '30 мин'
                    }
                  ]
                },
                {
                  title: 'Помывки',
                  items: [
                    {
                      name: 'Помывка Купало',
                      description: '',
                      price: '3 900₽',
                      note: ''
                    },
                    {
                      name: 'Помывка Купеческое',
                      description: '',
                      price: '6 500₽',
                      note: ''
                    },
                    {
                      name: 'Помывка Заморская диковинка',
                      description: '',
                      price: '8 000₽',
                      note: ''
                    },
                    {
                      name: 'Помывка Восточная',
                      description: '',
                      price: '6 500₽',
                      note: ''
                    }
                  ]
                },
                {
                  title: 'СПА программы',
                  items: [
                    {
                      name: 'СПА ПРОГРАММА «ЦАРСКОЕ СПА»',
                      description: 'Арома-скраб на выбор (смородина, ананас, манго), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония на сеновале',
                      price: '9 000₽',
                      note: '1,5 часа - 1 гость',
                      price2: '16 000₽',
                      note2: '2 гостя'
                    },
                    {
                      name: 'СПА ПРОГРАММА «ЦАРСКОЕ РАССЛАБЛЕНИЕ»',
                      description: 'Обертывание на выбор (шоколад, ламинария), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония с угощениями',
                      price: '10 000₽',
                      note: '1,5 часа - 1 гость',
                      price2: '18 000₽',
                      note2: '2 гостя'
                    },
                    {
                      name: 'СПА ПРОГРАММА «КОРОЛЕВСКОЕ УДОВОЛЬСТВИЕ»',
                      description: 'Арома-скраб на выбор (смородина, ананас, манго), обертывание на выбор (шоколад, ламинария), массаж 40 минут, увлажнение тела, отдых на сеновале, чайная церемония на сеновале',
                      price: '15 000₽',
                      note: '2 часа - 1 гость',
                      price2: '28 000₽',
                      note2: '2 гостя',
                      img: 'assets/img/ch-alt-3.jpg'
                    }
                  ]
                }
              ]
            }
          },
          {
            title: 'Дополнительные услуги',
            contentMixin: 'PriceCategory',
            contentMixinProps: {
              category: 'additional',
              sections: [
                {
                  title: 'Массажи',
                  items: [
                    {
                      name: 'Массаж',
                      description: '',
                      price: '4 500₽',
                      note: '20 мин',
                      price2: '3 000₽',
                      note2: 'со скидкой'
                    },
                    {
                      name: 'Массаж',
                      description: '',
                      price: '5 500₽',
                      note: '30 мин',
                      price2: '4 000₽',
                      note2: 'со скидкой'
                    },
                    {
                      name: 'Массаж',
                      description: '',
                      price: '6 000₽',
                      note: '40 мин',
                      price2: '5 000₽',
                      note2: 'со скидкой'
                    },
                    {
                      name: 'Массаж',
                      description: '',
                      price: '9 000₽',
                      note: '60 мин',
                      price2: '7 000₽',
                      note2: 'со скидкой'
                    },
                    {
                      name: 'Массаж',
                      description: '',
                      price: '12 000₽',
                      note: '90 мин',
                      price2: '10 000₽',
                      note2: 'со скидкой'
                    }
                  ]
                },
                {
                  title: 'Скрабы',
                  items: [
                    {
                      name: 'Мёд с солью',
                      description: '',
                      price: '3 500₽',
                      note: ''
                    },
                    {
                      name: 'Соль и травы',
                      description: '',
                      price: '3 500₽',
                      note: ''
                    },
                    {
                      name: 'Хвойный',
                      description: '',
                      price: '3 500₽',
                      note: ''
                    },
                    {
                      name: 'Скорлупа кедрового ореха',
                      description: '',
                      price: '3 500₽',
                      note: ''
                    },
                    {
                      name: 'Солевой пилинг La Sultane de Saba',
                      description: '',
                      price: '4 500₽',
                      note: '15 мин'
                    }
                  ]
                },
                {
                  title: 'Диковины',
                  items: [
                    {
                      name: 'Натирание медом',
                      description: '',
                      price: '1 000₽',
                      note: ''
                    },
                    {
                      name: 'Распаривание ног в кадушке',
                      description: '',
                      price: '1 500₽',
                      note: ''
                    },
                    {
                      name: 'Аромапар на заказ',
                      description: '',
                      price: '3 500₽',
                      note: ''
                    },
                    {
                      name: 'Музыкальное сопровождение',
                      description: '',
                      price: '5 000₽',
                      note: ''
                    },
                    {
                      name: 'Можжевеловая выкатка',
                      description: '',
                      price: '1 500₽',
                      note: ''
                    },
                    {
                      name: 'Ингаляция (хрен, эвкалипт, пихта, картошка)',
                      description: '',
                      price: '1 500₽',
                      note: ''
                    },
                    {
                      name: 'Пихтовый полок',
                      description: '',
                      price: '6 000₽',
                      note: ''
                    },
                    {
                      name: 'Дополнительный мастер',
                      description: '',
                      price: '5 000₽',
                      note: ''
                    },
                    {
                      name: 'Банщик на час',
                      description: '',
                      price: '6 000₽',
                      note: '1 чел'
                    },
                    {
                      name: 'Купель с холодной водой и льдом',
                      description: 'разнотравье, эвкалиптовая, ромашковая, крымская',
                      price: '5 000₽',
                      note: '3 часа'
                    }
                  ]
                },
                {
                  title: 'Аренда текстиля',
                  items: [
                    {
                      name: 'Полотенце',
                      description: '',
                      price: '600₽',
                      note: ''
                    },
                    {
                      name: 'Простыня',
                      description: '',
                      price: '350₽',
                      note: ''
                    },
                    {
                      name: 'Халат',
                      description: '',
                      price: '1 800₽',
                      note: ''
                    },
                    {
                      name: 'Банный комплект',
                      description: 'халат, простыня, полотенце, шапка, тапочки',
                      price: '3 000₽',
                      note: ''
                    },
                    {
                      name: 'Шапочки для бани',
                      description: '',
                      price: 'от 800₽',
                      note: ''
                    },
                    {
                      name: 'Тапочки',
                      description: '',
                      price: '960₽',
                      note: ''
                    }
                  ]
                }
              ]
            }
          }
        ]
      })
