//- @title: Спа - программы
//- @description: Спа - программы описание
//- @page_class: spa
extends ../layouts/default.pug

block content
  +Intro({
    title: 'Спа - программы',
    breadcrumbs: ['Спа - программы']
  })